.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
 
  nav {
    background-color: #555;
    color: white;
    width: 200px;
    padding: 20px;
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  nav a {
    color: white;
    display: block;
    margin-bottom: 10px;
  }

 
  