<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blank Page</title>
    <style>
        @page {
            size: A4;
            margin: 2cm;
        }

        body {
            background-color: beige;
            margin: 2cm;
        }
        .content_area{
            background-color: #F8F8F8;
            height: 100vh;
            padding-left: 2cm;
            padding-top: 2cm;
        }
    </style>
</head>
<body>
    <div class = "content_area">
        <h1>HEROGRAFIX</h1>
        <h2>Your personalised plan.</h2>

        <p>{{ quest3.answer_text }}</p>
        <p>{{ quest2.answer_text }}</p>
        <p>{{ quest3.answer_text }}</p>
    </div>


</body>
</html>
