<!DOCTYPE html>
{% extends "base.html" %}
<html>
<body>
    
    {% block content%}

    <br><br>

    <style>
        .inner-div {
            width: 50%;
            margin: 0 auto;
            text-align: left;
        }
        .answer_buttons {
            width: 50%;
            margin: 0 auto;
            text-align: right;
        }
    </style>
 
    <div class="inner-div">
        <form method="post">
            {% csrf_token %}
            <p>{{title}}</p>
            {{ form.as_p }}
            
            <div class="answer_buttons">
                <input type="submit" value="Submit">
                <br> <br> <br>
                <a href="{% url 'question_detail' question.question_identifier|add:1 %}">NEXT QUESTION</a><br>
            </div>

    
    
        </form>

    </div>
{% endblock %}

</body>
</html>