
<!DOCTYPE html>
{% extends "base.html" %}

<html>



<body>
    {% block content%}
    <style>
      
        textarea {
          width: 50%;
          margin: 0 auto;
          word-wrap: break-word;
          resize: vertical;
          min-height: 1em;
        }
      </style>
      <br> <br> <br> <br> <br>
    <div>
        <div>
        <h3>Question {{quest1.question.question_identifier }}:</h3>
          <textarea disabled class="answer-input">{{ quest1.answer_text }}</textarea>
        </div>
    
        <div>
          <h3>Question {{quest2.question.question_identifier }}:</h3>
          <textarea disabled class="answer-input">{{ quest2.answer_text }}</textarea>
        </div>
    
        <div>
          <h3>Question {{quest3.question.question_identifier }}:</h3>
          <textarea disabled class="answer-input">{{ quest3.answer_text }}</textarea>
        </div>
      </div>

    
    {% endblock %}

</body>
</html>

