
<!DOCTYPE html>
{% extends "base.html" %}

<html>



<body>
    <main>
    {% block content%}
        <style>
        
            textarea {
            width: 50%;
            margin: 0 auto;
            word-wrap: break-word;
            resize: vertical;
            overflow: hidden;
            background-color: #f6f0f7;
            
            }
            textarea.expand {
            height: auto;
            min-height: 6em;
            }
            .answer-container {
            text-align: center;
            
            }
        </style>
        <br> <br> 
        <div class="answer-container">
            <div>
                <div>
                <h3>Question {{quest3.question.question_identifier }}:</h3>
                <textarea disabled class="answer-input expand">{{ quest3.answer_text }}</textarea>
                </div>
            
                <div>
                <h3>Question {{quest2.question.question_identifier }}:</h3>
                <textarea disabled class="answer-input expand">{{ quest2.answer_text }}</textarea>
                </div>
            
                <div>
                <h3>Question {{quest1.question.question_identifier }}:</h3>
                <textarea disabled class="answer-input expand">{{ quest1.answer_text }}</textarea>
                </div>

                <div>
                <h3>Question {{quest3.question.question_identifier }}:</h3>
                <textarea disabled class="answer-input expand">{{ quest3.answer_text }}</textarea>
                </div>
            </div>
        </div>
        

    
    {% endblock %}

</main>

</body>
</html>

