{% extends "base.html" %}
{% load static %}
<!DOCTYPE html> 


<html>
  <head>
    <link rel="stylesheet" href="{% static 'bx_app/style.css' %}">


  </head>
  <body>
    {% block content %}
    <meta charset="utf-8">
    <title>Welcome</title> 
    <br>
    <br>
    <br>
    <br>

    <h2>Welcome, {{ user.username}}!</h2>
    <li>
    <a href="{% url 'question_detail' question_id=1 %}">Answer Question 1</a> </li><br>
    <li><a href="{% url 'question_detail' question_id=2 %}">Answer Question 2</a></li><br>
    <li><a href="{% url 'question_detail' question_id=3 %}">Answer Question 3</a></li><br>
    <li><a href="{% url 'user_answers'%}">Current users answers</a></li><br>
    <li><a href="{% url 'most_recent'%}">Most recent answer</a></li><br>
    </li>

  {% if user.is_authenticated %}
    
    
    <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
  {% else %}
    
    <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
  {% endif %}

    


    <p>Thanks for visiting our site.</p>
    {%endblock%}

  </body>
</html>


