{% extends "base.html" %}
{% load static %}
<!DOCTYPE html> 


<html>
  <head>
    <link rel="stylesheet" href="{% static 'bx_app/style.css' %}">
    


  </head>
  <body>
    {% block content %}
    <meta charset="utf-8">
    <title>Welcome</title> 
    <br>
    <br>
  
    
    <div class = 'index_container'>
        <h4>Welcome, {{ user.username}}!</h4>
        <article class = "intro_text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt
              justo id diam consectetur, a hendrerit velit tincidunt. Nulla posuere nulla
              id pharetra efficitur. Sed convallis ultricies velit, ac tristique nisi 
              lobortis in. Fusce id diam ac dui luctus convallis. Ut et ultrices justo, 
              ac luctus nulla. Donec in arcu eget nunc aliquet cursus. Nulla eleifend, 
              ligula sit amet commodo consectetur, turpis mi cursus tellus, vel fringilla odio eros eu dui.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt justo id diam consectetur,
              a hendrerit velit tincidunt. Nulla posuere nulla id pharetra efficitur. Sed convallis ultricies
              velit, ac tristique nisi lobortis in. Fusce id diam ac dui luctus convallis. Ut et ultrices justo,
              ac luctus nulla. Donec in arcu eget nunc aliquet cursus. Nulla eleifend, ligula sit amet 
              commodo consectetur, turpis mi cursus tellus, vel fringilla odio eros eu dui.</p>
        </article>

        
        <img src="{% static 'bx_app/sankofa.jpg' %}" alt="Image description"style="width: 23%; height: auto;">

        <div class = "sec_text">
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt justo id diam consectetur,
              a hendrerit velit tincidunt. Nulla posuere nulla id pharetra efficitur. Sed convallis ultricies
              velit, ac tristique nisi lobortis in. Fusce id diam ac dui luctus convallis. Ut et ultrices justo,
              ac luctus nulla. Donec in arcu eget nunc aliquet cursus. Nulla eleifend, ligula sit amet 
              commodo consectetur, turpis mi cursus tellus, vel fringilla odio eros eu du
          </p>
        </div>
    </div>

      
    <h4>Thank you for visiting our site.</h4>
      {%endblock%}

  </body>
</html>


