{% extends "base.html" %}
{% load static %}
<!DOCTYPE html> 


<html>
  <head>
    <link rel="stylesheet" href="{% static 'bx_app/style.css' %}">


  </head>
  <body>
    {% block content %}
    <meta charset="utf-8">
    <title>Welcome</title> 
    <br>
    <br>
  
    
    
  <h3>Welcome, {{ user.username}}!</h3>

  
  <img src="{% static 'bx_app/sankofa.jpg' %}" alt="Image description"style="width: 23%; height: auto;opacity: 0.1;">


  <h3>Thank you for visiting our site.</h3>
    {%endblock%}

  </body>
</html>


