<!DOCTYPE html>
{% extends "base.html" %}
<html>
    
<body>
    
 {% block content%}

   
<div class = 'grid_container'>
   
    <div class="container">
        
        <div class="inner-div">
            <div class = "title_box">
                <p>{{title}}</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}     
                <div  class="answer_buttons">
                    <input type="submit" value="Submit">
                    <br> 
                    <a href="{% url 'question_detail' question.question_identifier|add:1 %}">NEXT QUESTION</a><br>
                </div>
            </form>
            
        </div>
       
    </div>
</div>
    
{% endblock %}

</body>
</html>